region                   = "us-sanjose-1"
tenancy_ocid             = "ocid1.tenancy.oc1..ToDo"
compartment_ocid         = "ocid1.compartment.oc1..ToDo"
availability_domain_name = "bxtG:US-SANJOSE-1-AD-1"
subnet_ocid              = "ocid1.subnet.oc1.ToDo"
ssh_public_key           = "ssh-rsa ToDo"
display_name             = "ai-instance"
bv_size                  = "200" # size in GBs